Repository Quad8/quad8-front, pull requests merged in 2024-07, with the labels that each got.

#136 [Fix] useEffect 무한루프 해결
  src/app/my-info/_components/DeliveryStatus/DeliveryStatus.tsx
Labels: 🐞 Fix

#137 [Fix] 커스텀 키보드 로그인 모달 외부 클릭 해제
  public/svgs/checkboxCircle.svg
  src/app/custom-keyboard/_components/canvas/KeyboardViewer.module.scss
  src/app/custom-keyboard/_components/canvas/KeyboardViewer.tsx
  src/app/custom-keyboard/_components/canvas/Step.module.scss
  src/app/custom-keyboard/_components/canvas/Step.tsx
  src/app/custom-keyboard/_components/canvas/parts/Keyboard.tsx
  src/app/custom-keyboard/_components/canvas/parts/StepIcon.module.scss
  src/app/custom-keyboard/_components/navigator/CartModal.tsx
  src/app/custom-keyboard/_components/navigator/OptionProductModal.tsx
  src/app/custom-keyboard/_components/navigator/TotalCostWithNavigation.tsx
  src/app/providers.module.scss
  src/components/Dialog/index.stories.tsx
Labels: 📖 Page, 🐞 Fix, ✨ Component

#147 [Fix] import 텍스트 오타 수정
  src/app/providers.tsx
Labels: 🐞 Fix

#143 [Fix] 커뮤니티 좋아요 부분 실시간 안되는 이슈 해결
  src/api/productReviewAPI.ts
  src/app/(test)/mj/test/ReviewModalTest.tsx
  src/app/community/_components/Comment.tsx
  src/app/community/_components/CommunityEmptyCase.module.scss
  src/app/community/_components/CommunityEmptyCase.tsx
  src/app/community/_components/PostCardDetailModal.tsx
  src/app/community/_components/PostCardList.module.scss
  src/app/community/_components/PostCardList.tsx
  src/app/community/_components/PostInteractions.tsx
  src/app/community/layout.module.scss
  src/app/community/layout.tsx
  src/app/community/page.tsx
  src/components/Buttons/HeartButton/HeartButton.tsx
  src/components/Rating/Rating.tsx
  src/components/WriteEditModal/FeedbackToggle.module.scss
  src/components/WriteEditModal/FeedbackToggle.tsx
  src/components/WriteEditModal/WriteEditModal.module.scss
  src/components/WriteEditModal/WriteEditModal.tsx
Labels: 🐞 Fix

#154 Test: 테스트 코드 추가
  src/api/authAPI.ts
  src/app/(test)/dw/page.module.scss
  src/app/(test)/dw/page.tsx
Labels: ✅ Test, 📬 API

#144 [feat] 상품 리뷰 기능
  src/api/productReviewAPI.ts
  src/app/(test)/mj/page.module.scss
  src/app/(test)/mj/test/ReviewModalTest.module.scss
  src/app/(test)/mj/test/ReviewModalTest.tsx
  src/app/community/_components/AuthorCard.tsx
  src/app/community/_components/Comment.tsx
  src/app/community/_components/OrderListModal.tsx
  src/app/community/_components/PostCard.tsx
  src/app/community/_components/PostCardDetailModal.module.scss
  src/app/community/_components/PostCardDetailModal.tsx
  src/app/community/_components/PostCardList.tsx
  src/app/community/_components/PostInteractions.tsx
  src/app/community/_components/WritePostButton.tsx
  src/components/Buttons/HeartButton/HeartButton.module.scss
  src/components/Buttons/HeartButton/HeartButton.tsx
  src/components/PopOver/PopOver.module.scss
  src/components/WriteEditModal/ImageInput.tsx
  src/components/WriteEditModal/WriteEditModal.tsx
Labels: 🐞 Fix, ✨ Component

#148 [Feat] payment 페이지 기능 구현 (결제 테스트까지 진행)
  package-lock.json
  package.json
  src/api/orderAPI.ts
  src/app/(payment)/payment/_components/Checkout/CheckoutForm/CheckoutForm.module.scss
  src/app/(payment)/payment/_components/Checkout/CheckoutForm/CheckoutForm.tsx
  src/app/(payment)/payment/_components/Checkout/CheckoutForm/parts/CheckoutAddress.module.scss
  src/app/(payment)/payment/_components/Checkout/CheckoutForm/parts/CheckoutAddress.tsx
  src/app/(payment)/payment/_components/Checkout/CheckoutForm/parts/CheckoutAddressModal.module.scss
  src/app/(payment)/payment/_components/Checkout/CheckoutForm/parts/CheckoutAddressModal.tsx
  src/app/(payment)/payment/_components/Checkout/CheckoutForm/parts/PaymentContainer.module.scss
  src/app/(payment)/payment/_components/Checkout/CheckoutForm/parts/PaymentContainer.tsx
  src/app/(payment)/payment/layout.tsx
  src/app/my-info/(account)/addresses/_components/AddAddresseModal/AddAddressModal.tsx
  src/app/my-info/(account)/addresses/_components/Addresses/Address/Address.module.scss
  src/app/my-info/(account)/addresses/_components/Addresses/Address/Address.tsx
  src/app/my-info/(account)/cart/_components/PurchaseButton.tsx
  src/app/my-info/_components/DeliveryStatus/DeliveryStatus.tsx
  src/components/ProfileImage/ProfileImage.tsx
  src/libs/formatNumber.ts
  src/libs/manageCookie.ts
  src/libs/renderPaymentProductName.ts
Labels: 📖 Page, 📬 API, ✨ Component

#152 [Feat] 헤더 검색창 기능 구현
  public/svgs/search.svg
  src/api/cartAPI.ts
  src/api/searchAPI.ts
  src/api/usersAPI.ts
  src/app/custom-keyboard/_components/canvas/Step.module.scss
  src/app/custom-keyboard/_components/navigator/CartModal.tsx
  src/app/layout.module.scss
  src/app/layout.tsx
  src/app/my-info/(account)/cart/_components/CartCard.module.scss
  src/app/my-info/(account)/cart/_components/CartCard.tsx
  src/app/my-info/(account)/cart/_components/CustomCardList.tsx
  src/app/my-info/(account)/cart/_components/OptionEditModal.module.scss
  src/app/my-info/(account)/cart/_components/OptionEditModal.tsx
  src/app/my-info/(account)/cart/_components/PurchaseButton.tsx
  src/app/my-info/(account)/cart/_components/ShopCardList.tsx
  src/app/my-info/(account)/cart/layout.tsx
  src/app/my-info/(account)/cart/page.module.scss
  src/app/my-info/(account)/cart/page.tsx
  src/app/my-info/layout.module.scss
  src/app/shop/[category]/[productId]/_components/Product/OptionWithButtons.tsx
  src/components/CountInput/CountInput.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Header/HeaderParts/CartButton.module.scss
  src/components/Header/HeaderParts/CartButton.tsx
  src/components/Header/HeaderParts/LogoutButton.tsx
  src/components/Header/HeaderParts/SearchBox.module.scss
  src/components/Header/HeaderParts/SearchBox.tsx
  src/components/Header/HeaderParts/SearchButton.module.scss
  src/components/Header/HeaderParts/SearchButton.tsx
  src/components/Header/HeaderParts/ShopButton.module.scss
  src/components/Header/HeaderParts/index.ts
  src/components/SearchBox/SearchBox.module.scss
  src/components/SearchBox/SearchBox.tsx
  src/components/SearchBox/SearchHistory.module.scss
  src/components/SearchBox/SearchHistory.tsx
  src/components/SearchBox/SearchSuggestion.module.scss
  src/components/SearchBox/SearchSuggestion.tsx
  src/components/parts/Input.tsx
  src/components/parts/SuffixIcon.module.scss
  src/components/parts/SuffixIcon.tsx
  src/constants/route.ts
  src/context/CartDataContext.tsx
  src/hooks/useOutsideClick.ts
  src/libs/charMatcher.ts
  src/libs/getUpdatedCartData.ts
  src/styles/globals/_fonts.scss
  src/styles/reset.css
  src/types/CartTypes.ts
  src/types/SearchType.ts
Labels: 📬 API, ✨ Component

#149 [Refactor] 커뮤니티 게시글 댓글 무한스크롤로 수정
  package-lock.json
  package.json
  public/index.ts
  public/svgs/spinLoading.svg
  src/api/communityAPI.ts
  src/api/likesAPI.ts
  src/app/community/_components/AuthorCard.tsx
  src/app/community/_components/Comment.module.scss
  src/app/community/_components/Comment.tsx
  src/app/community/_components/OrderListModal.tsx
  src/app/community/_components/PostCard.module.scss
  src/app/community/_components/PostCard.tsx
  src/app/community/_components/PostCardDetailModal.tsx
  src/app/community/_components/PostCardDetailModal/ErrorFallbackDetailModal.module.scss
  src/app/community/_components/PostCardDetailModal/ErrorFallbackDetailModal.tsx
  src/app/community/_components/PostCardDetailModal/ModalSkeleton.module.scss
  src/app/community/_components/PostCardDetailModal/ModalSkeleton.tsx
  src/app/community/_components/PostCardDetailModal/PostCardDetailModal.module.scss
  src/app/community/_components/PostCardDetailModal/PostCardDetailModal.tsx
  src/app/community/_components/PostCardList.tsx
  src/app/community/layout.tsx
  src/app/my-info/(account)/my-posts/_components/MyPostCardList.tsx
  src/components/Buttons/HeartButton/HeartButton.module.scss
  src/components/Buttons/HeartButton/HeartButton.tsx
  src/components/Header/HeaderParts/LogoutButton.tsx
  src/components/PopOver/PopOver.module.scss
  src/components/PopOver/PopOver.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/WriteEditModal/ImageInput.tsx
  src/components/WriteEditModal/WriteEditModal.tsx
  src/libs/communityPopOverOption.ts
  src/types/CommunityTypes.ts
Labels: 🔨 Refactor

#159 [Feat] 검색 페이지 구현
  src/api/searchAPI.ts
  src/app/_components/Hero/Hero.tsx
  src/app/search/_components/CardList.module.scss
  src/app/search/_components/CardList.tsx
  src/app/search/_components/NoResult.module.scss
  src/app/search/_components/NoResult.tsx
  src/app/search/_components/index.ts
  src/app/search/page.module.scss
  src/app/search/page.tsx
  src/app/shop/[category]/[productId]/_components/Product/OptionContainer.tsx
  src/components/CountInput/CountInput.tsx
  src/components/Header/HeaderParts/SearchButton.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/index.ts
  src/styles/globals/_fonts.scss
  src/types/SearchType.ts
Labels: 📖 Page, 📬 API, ✨ Component

#157 [Feat] 찜 페이지
  package-lock.json
  package.json
  src/api/likesAPI.ts
  src/app/_components/Aos/AOSWrapper.tsx
  src/app/_components/Banner/Banner.module.scss
  src/app/_components/Banner/Banner.tsx
  src/app/_components/Guide/AnimatedSection.module.scss
  src/app/_components/Guide/AnimatedSection.tsx
  src/app/_components/Guide/CustomGuide.module.scss
  src/app/_components/Guide/CustomGuide.tsx
  src/app/_components/Guide/Guide.module.scss
  src/app/_components/Guide/Guide.tsx
  src/app/_components/Hero/Hero.module.scss
  src/app/_components/index.ts
  src/app/layout.tsx
  src/app/my-info/(account)/wishlist/_components/AddCartModal.module.scss
  src/app/my-info/(account)/wishlist/_components/AddCartModal.tsx
  src/app/my-info/(account)/wishlist/_components/WishCheckBox.module.scss
  src/app/my-info/(account)/wishlist/_components/WishCheckBox.tsx
  src/app/my-info/(account)/wishlist/_components/WishItem.module.scss
  src/app/my-info/(account)/wishlist/_components/WishItem.tsx
  src/app/my-info/(account)/wishlist/_components/WishList.module.scss
  src/app/my-info/(account)/wishlist/_components/WishList.tsx
  src/app/my-info/(account)/wishlist/page.tsx
  src/app/not-found.module.scss
  src/app/page.tsx
  src/components/Buttons/HeartButton/HeartButton.tsx
  src/components/Pagination/Pagination.module.scss
  src/components/Pagination/Pagination.tsx
  src/constants/queryKey.ts
  src/styles/globals/_fonts.scss
  src/styles/reset.css
  src/types/LikeTypes.ts
  src/types/aos.d.ts
  tsconfig.json
Labels: 📖 Page, 📬 API, ✨ Component

#158 [Feat] 마이페이지 구매후기, 상품 상세 리뷰 모달, 이미지 리스트, 공유 버튼 구현
  src/api/orderAPI.ts
  src/api/productAPI.ts
  src/api/productReviewAPI.ts
  src/app/layout.tsx
  src/app/my-info/(account)/cart/_components/OptionEditModal.tsx
  src/app/my-info/(account)/reviews/_components/MyReviewList.tsx
  src/app/my-info/(account)/reviews/_components/MyReviewProduct.module.scss
  src/app/my-info/(account)/reviews/_components/MyReviewProduct.tsx
  src/app/my-info/(account)/reviews/page.tsx
  src/app/my-info/(account)/wishlist/_components/AddCartModal.tsx
  src/app/shop/[category]/[productId]/_components/Product/ProductDetail.module.scss
  src/app/shop/[category]/[productId]/_components/Product/ProductDetail.tsx
  src/app/shop/[category]/[productId]/_components/Product/Thumbnail.module.scss
  src/app/shop/[category]/[productId]/_components/TabContents/DetailImage.tsx
  src/app/shop/[category]/[productId]/_components/TabContents/DetailTab.tsx
  src/app/shop/[category]/[productId]/_components/TabContents/Review/ProductReviewList.module.scss
  src/app/shop/[category]/[productId]/_components/TabContents/Review/ProductReviewList.tsx
  src/app/shop/[category]/[productId]/_components/TabContents/Review/ReviewImageList.module.scss
  src/app/shop/[category]/[productId]/_components/TabContents/Review/ReviewImageList.tsx
  src/app/shop/[category]/[productId]/_components/TabContents/Review/ReviewImageModal.module.scss
  src/app/shop/[category]/[productId]/_components/TabContents/Review/ReviewImageModal.tsx
  src/app/shop/[category]/[productId]/_components/TabContents/Review/ReviewPreview.tsx
  src/app/shop/[category]/[productId]/page.tsx
  src/components/Buttons/ReviewLikeButton/ReviewLikeButton.tsx
  src/components/Buttons/ShareButton/ShareBox.tsx
  src/components/Buttons/ShareButton/ShareButton.tsx
  src/components/DatePicker/DatePicker.tsx
  src/components/Header/Header.tsx
  src/components/ReviewItem/RenderImages.tsx
  src/components/ReviewItem/RenderKeywords.tsx
  src/components/ReviewItem/ReviewItem.module.scss
  src/components/ReviewItem/ReviewItem.tsx
  src/components/SignInModal/SignInModal.tsx
  src/constants/dropdownOptions.ts
  src/hooks/useKakaoShare.ts
  src/libs/formatDateToQueryString.ts
  src/libs/searchParamsToObject.ts
  src/types/KakaoType.ts
  src/types/ProductReviewTypes.ts
  src/types/ProductTypes.ts
Labels: 📖 Page, 📬 API, ✨ Component
